## Prep

In [261]:
from openai import OpenAI
import csv
import pandas as pd
import json

In [262]:
# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY="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"

In [263]:
client = OpenAI(api_key=OPENAI_API_KEY)

In [278]:
train_df=pd.read_csv("stripped_train.csv")

In [279]:
train_df

,Unnamed: 0,source,target
0,0,UNA:+.? 'UNB+UNOC:3+4333990000009:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
1,1,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
2,2,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
3,3,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
4,4,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
...,...,...,...
11254,11254,UNA:+.? 'UNB+UNOC:3+4333990000009:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11255,11255,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11256,11256,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11257,11257,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
11258,11258,UNA:+.? 'UNB+UNOC:3+3026070000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."

In [280]:
#train_df=train_df.dropna().reset_index(drop=True)
train_df

,Unnamed: 0,source,target
0,0,UNA:+.? 'UNB+UNOC:3+4333990000009:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
1,1,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
2,2,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
3,3,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
4,4,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
...,...,...,...
11254,11254,UNA:+.? 'UNB+UNOC:3+4333990000009:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11255,11255,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11256,11256,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
11257,11257,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
11258,11258,UNA:+.? 'UNB+UNOC:3+3026070000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."

In [245]:
#train_df=pd.read_csv("Data.csv")

In [273]:
train_df

,Unnamed: 0,source,target
0,1393,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
1,168,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
2,13152,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
3,8313,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
4,4914,UNA:+.? 'UNB+UNOC:3+4304449000000:14:431556399...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
...,...,...,...
2810,4403,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
2811,11257,UNA:+.? 'UNB+UNOD:3+4399901823952:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
2812,1272,UNA:+.? 'UNB+UNOC:3+3026070000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
2813,3514,UNA:+.? 'UNB+UNOD:2+5908233300001:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
2814,3463,UNA:+.? '\nUNB+UNOC:3+3025250000102:14+4023149...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."

In [288]:
# Sample aus den Trainingsdaten ziehen
to1=train_df.sample(1000).reset_index(drop=True)

In [289]:
to1

,Unnamed: 0,source,target
0,8254,UNB+UNOA:2+5909000015609:14+4023149000003:14+2...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
1,1841,UNA:+.? 'UNB+UNOC:3+3026070000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
2,8815,UNA:+.? 'UNB+UNOC:3+4004479000000:14+402314900...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
3,2511,UNA:+.? 'UNB+UNOD:2+5908233300001:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
4,4987,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
...,...,...,...
995,9292,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
996,4763,UNA:+.? 'UNB+UNOC:3+4333990000009:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
997,800,UNA:+.? 'UNB+UNOC:3+3025940000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<ORDER..."
998,7235,UNA:+.? 'UNB+UNOD:2+4306517008994:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."
999,7935,UNA:+.? 'UNB+UNOC:3+3026070000000:14+400805700...,"<?xml version=""1.0"" encoding=""UTF-8""?><ORDERS0..."

In [290]:
to1=to1[["source","target"]]
to1=to1.rename(columns={"source":"prompt","target":"completion"})

In [291]:
# Umwandeln des Inhalts aus der CSV Datei in eine jsonl Datei, damit sie fÃ¼r die Open AI Sprachmodelle kompatibel sind.
output_file = 'stripped_training_1000.jsonl'

with open(output_file, 'w') as jsonl_file:
    for index, row in to1.iterrows():
        example = {'prompt': row['prompt'], 'completion': row['completion']}
        jsonl_file.write(json.dumps(example) + '\n')

In [241]:
to1.to_csv("to1.csv")

In [242]:
# Andere MÃ¶glichkeit zur Transformation in jsonl, allerdings wegen der Limitierungen der csv-Bibliothek nicht zu empfehlen
def convert_csv_to_jsonl_corrected(csv_file, jsonl_file):
    with open(csv_file, 'r', encoding='utf-8') as csv_fh, open(jsonl_file, 'w', encoding='utf-8') as jsonl_fh:
        csv_reader = csv.DictReader(csv_fh)
        for row in csv_reader:
            # Erstellen des JSON-Objekts aus der CSV-Zeile
            json_object = json.dumps({"prompt": row["prompt"], "completion": row["completion"]})
            # Schreiben des JSON-Objekts in die JSONL-Datei
            jsonl_fh.write(json_object + '\n')

In [259]:
#convert_csv_to_jsonl_corrected("to1.csv","to1.jsonl")

In [292]:
#Hochladen des json-Files in die Open AI Cloud
client.files.create(
  file=open("/Users/huyduc/Documents/GitHub/Hettich/stripped_training_1000.jsonl", "rb"),
  purpose="fine-tune"
)

FileObject(id='file-CzqhLz3QM9lLqvNq2LuNZAlz', bytes=11594704, created_at=1700812025, filename='stripped_training_1000.jsonl', object='file', purpose='fine-tune', status='uploaded', status_details=None)

In [286]:
client.files.create(
  file=open("/Users/huyduc/Documents/GitHub/Hettich/stripped_training_data.jsonl", "rb"),
  purpose="fine-tune"
)

FileObject(id='file-k9jwpp2WJTt5aVs7uSU03EeH', bytes=126269570, created_at=1700811405, filename='stripped_training_data.jsonl', object='file', purpose='fine-tune', status='uploaded', status_details=None)

## *Babbage 002*

In [293]:
# Finetuning des Babbage 002 Modells
client.fine_tuning.jobs.create(
  training_file="file-CzqhLz3QM9lLqvNq2LuNZAlz", 
  model="babbage-002"
)

FineTuningJob(id='ftjob-k1rRc5e8263J7bBi9iwhV0gh', created_at=1700812077, error=None, fine_tuned_model=None, finished_at=None, hyperparameters=Hyperparameters(n_epochs='auto', batch_size='auto', learning_rate_multiplier='auto'), model='babbage-002', object='fine_tuning.job', organization_id='org-d7vn7k5RSftgGW6o372Crdqj', result_files=[], status='validating_files', trained_tokens=None, training_file='file-CzqhLz3QM9lLqvNq2LuNZAlz', validation_file=None)

In [153]:
models=client.fine_tuning.jobs.list()
print(models)

SyncCursorPage[FineTuningJob](data=[FineTuningJob(id='ftjob-QVeItECHYDZ0jn6dlGqv78sz', created_at=1700735018, error=Error(code='invalid_n_examples', message='Training file has 2 example(s), but must have at least 10 examples', param='training_file'), fine_tuned_model=None, finished_at=None, hyperparameters=Hyperparameters(n_epochs='auto', batch_size='auto', learning_rate_multiplier='auto'), model='babbage-002', object='fine_tuning.job', organization_id='org-d7vn7k5RSftgGW6o372Crdqj', result_files=[], status='failed', trained_tokens=None, training_file='file-flmjkgqW9i6dMrc7uApgCyAO', validation_file=None), FineTuningJob(id='ftjob-1iVScdEiJf3XzfZUs0JSiJQN', created_at=1700733733, error=Error(code='invalid_n_examples', message='Training file has 2 example(s), but must have at least 10 examples', param='training_file'), fine_tuned_model=None, finished_at=None, hyperparameters=Hyperparameters(n_epochs='auto', batch_size='auto', learning_rate_multiplier='auto'), model='babbage-002', object='fine_tuning.job', organization_id='org-d7vn7k5RSftgGW6o372Crdqj', result_files=[], status='failed', trained_tokens=None, training_file='file-flmjkgqW9i6dMrc7uApgCyAO', validation_file=None)], object='list', has_more=False)

In [323]:
response = client.completions.create(
model="ft:babbage-002:personal::8O1uQMBd",
  #Einsetzen einer EDI Bestellung zum generieren des passenden IDOCs dazu
  prompt="UNA:+.? 'UNB+UNOD:2+4306517008994:14+4008057000000:14+230901:1347+152427'UNH+23090101490101+ORDERS:D:96A:UN:EAN008'BGM+224::9+6531008302+9'DTM+137:20230901:102'DTM+2:20230906:102'FTX+PUR+1++Com.?: Van dartel, Auftrags-Nr. 9031733589'FTX+PUR+1++Wir bestellen, sofern vorhanden, auf Basis des einschlâˆšÂ§gigen Vertrages:, ansonsten unter ausschlieâˆšÃ¼licher Geltung der GeschâˆšÂ§ftsbedingungen Ha:ndelsware unseres Hauses, welche wir Ihnen auf Anfrage gerne (nochmals:) zur VerfâˆšÂºgung stellen.'RFF+CO:9031733589'NAD+BY+8717056696539::9++Feller, Wieser und Seelig+Franz-Kail-Str. 65a+NeelegrÂ¸n++04000+NL'LOC+7+NeelegrÂ¸n::9:NeelegrÂ¸n'CTA+OC+:Grâ€°fin Lias zu Steigauf'COM+jaden.welsch@web.de:EM'CTA+OC+653:Feller, Wieser und Seelig'COM++49-817-9421002:TE'NAD+DP+8717056696539::9++Feller, Wieser und Seelig+Franz-Kail-Str. 65a+NeelegrÂ¸n++04000+NL'NAD+IV+8717056697390::9++Gottschalk-Boruschewski+DÂ¸ppeler Str. 03+SchË†n Joscha++53455+NL'RFF+VA:NL807508093B01'NAD+SU+4008057000000::9'RFF+IA:0010631100'NAD+UC+8717056697116::9++Zender GmbH & Co. KG+Havelstr. 48b+West Alicia++57380+NL'CTA+OC+:Knobel OHG'COM+(01906) 6274583:TE'COM+luisa.schelk@gmx.de:EM'CUX+2:EUR:9'LIN+1++4008057030939:EN'PIA+1+6791337:IN::92+9200631:SA::91'IMD+F++:::Schrankaufhaengeschiene 1m verzinkt'QTY+21:3'UNS+S'CNT+2:1'UNT+30+23090101490101'UNZ+1+152427'"
  
)
#print(completion.choices[0].message)
print(response.choices[0].text.strip())

Beispiel Text: Dokumente in PDF-Format speichernAllgemeine

In [320]:
response = client.completions.create(#.Completion.create(
  model="ft:babbage-002:personal::8OLNWnvp",#Modell welches mit 1000 DateneintrÃ¤gen trainiert wurde
  prompt="UNA:+.? 'UNB+UNOD:2+4306517008994:14+4008057000000:14+230901:1347+152427'UNH+23090101490101+ORDERS:D:96A:UN:EAN008'BGM+224::9+6531008302+9'DTM+137:20230901:102'DTM+2:20230906:102'FTX+PUR+1++Com.?: Van dartel, Auftrags-Nr. 9031733589'FTX+PUR+1++Wir bestellen, sofern vorhanden, auf Basis des einschlâˆšÂ§gigen Vertrages:, ansonsten unter ausschlieâˆšÃ¼licher Geltung der GeschâˆšÂ§ftsbedingungen Ha:ndelsware unseres Hauses, welche wir Ihnen auf Anfrage gerne (nochmals:) zur VerfâˆšÂºgung stellen.'RFF+CO:9031733589'NAD+BY+8717056696539::9++Feller, Wieser und Seelig+Franz-Kail-Str. 65a+NeelegrÂ¸n++04000+NL'LOC+7+NeelegrÂ¸n::9:NeelegrÂ¸n'CTA+OC+:Grâ€°fin Lias zu Steigauf'COM+jaden.welsch@web.de:EM'CTA+OC+653:Feller, Wieser und Seelig'COM++49-817-9421002:TE'NAD+DP+8717056696539::9++Feller, Wieser und Seelig+Franz-Kail-Str. 65a+NeelegrÂ¸n++04000+NL'NAD+IV+8717056697390::9++Gottschalk-Boruschewski+DÂ¸ppeler Str. 03+SchË†n Joscha++53455+NL'RFF+VA:NL807508093B01'NAD+SU+4008057000000::9'RFF+IA:0010631100'NAD+UC+8717056697116::9++Zender GmbH & Co. KG+Havelstr. 48b+West Alicia++57380+NL'CTA+OC+:Knobel OHG'COM+(01906) 6274583:TE'COM+luisa.schelk@gmx.de:EM'CUX+2:EUR:9'LIN+1++4008057030939:EN'PIA+1+6791337:IN::92+9200631:SA::91'IMD+F++:::Schrankaufhaengeschiene 1m verzinkt'QTY+21:3'UNS+S'CNT+2:1'UNT+30+23090101490101'UNZ+1+152427'"
)
#print(completion.choices[0].message)
print(response.choices[0].text.strip())

<?xml version="1.0" encoding="UTF-8"?><ORD

## GPT 3.5

In [297]:
response

Completion(id='cmpl-8OLVMW68PmNkb1hJi8I4AKWlPlggm', choices=[CompletionChoice(finish_reason='length', index=0, logprobs=None, text='<?xml version="1.0" encoding="UTF-8"?><ORD')], created=1700813228, model='ft:babbage-002:personal::8OLNWnvp', object='text_completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=16, prompt_tokens=626, total_tokens=642))